<!DOCTYPE html>
<html>
    <style>
    input[type=text], select {
    width: 50%;
    padding: 5px 10px;
    display: inline-block;
    border: solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
   input[type=password] {
    width: 50%;
    padding: 5px 10px;
    display: inline-block;
    border: solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 50%;
    background-color: #f44336;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #4CAF50;
}
        .center{
            text-align:center;
        }
div {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
        h1, h3{
        color: #f44336;
        }
.button {
    background-color: #f44336; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 
        a:visited { 
    color: white;
}
.split-para      { display:block;margin:10px;margin-left:300px;}
        .padding{
            margin-left:100px;
        }
  .split-right{ 
      display:block;margin:10px;margin-right:300px;
        }   
        hr{
            position:center;
        }
    </style>
<head>
  <title>PCracking</title>
</head>
<body>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '269718566700293',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <div class="center"><img src="/background.jpg" height="350" width="1200"></div>
    <hr width="50%">
    <h1>Never Forget Any Passwords!</h1>
    <table>
        <tr>
        <td><div class="padding">
<p class="split-para"><h3>Store Passwords in a Secure Vault</h3>
All of your passwords and notes are stored safely in a vault.<br>Easy-to-use, searchable, and organized the way you like.</p>
<p class="split-para"><h3>Save Many Accounts</h3>
Have multiple Social Media accounts? 12 WordPress logins? <br>Save unlimited logins for websites, and easily switch between them.</p>
<p class="split-para"><h3>Convenient Access</h3>
Get started on any device, free. <br>Your LastPass vault is backed up and synced automatically where you need it.</p></div>
    </td>
            <td>
             <div class="center"><img src="/vault.png" height="350" width=450"></div>
        </td>
        </tr>
            </table>
      <hr width="50%">
                 <h1>Manage Passwords From Any Browser!<h1>
                     <table align="center">
                     <tr>
                         <td>
                             <div class="center"><img src="/safari.png" height="110" width=110"></div>
                         </td>
                         <td>
                             <div class="center"><img src="/chrome.ico" height="100" width=100"></div>
                         </td>
                         <td>
                             <div class="center"><img src="/firefox.png" height="100" width=100"></div>
                         </td>
                         <td>
                        <div class="center"><img src="/explorer.png" height="100" width=100"></div>
                         </td>
                         </tr>
                     </table>
</body>
</html>
    